<%= javascript_include_tag "map" %>
<%= stylesheet_link_tag "map"%>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key%>&callback=initMap">
</script>

<div class="container">
  <table class="table">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>店舗名</td>
      <td><%= @shop_api.name %></td>
    </tr>
    <tr>
      <td>営業時間</td>
      <td>
        <ul style="list-style:none; margin-left: 0; padding-left: 0;">
          <%@shop_api.opening_hours["weekday_text"].each_with_index do |opening_hour, week|%>
            <%if week != @week%>
              <li><%=opening_hour%></li>
            <%else%>
              <li><%=opening_hour%><span class="label label-info">Today</span></li>
            <%end%>
          <%end%>
        </ul>
      </td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td>
        <div id="edit_categories"></div>
        <div id="categories">
          <%= render partial: 'categories' %>
        </div>
      </td>
    </tr>
  </table>
</div>
